
.restore-form-text{
	color: #FFF;
	padding-bottom: 2em;
	line-height: 1.5em;
}



.restore-pouop-wrap{
	display: flex;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: rgba(0,0,0,0.2);
}

.restore-popup-body{
	display: flex;
	flex-direction: column;
	background: #FFF;
	border-radius: 1em;
	min-width: 22em;
	max-width:22em;
	margin: auto;
}



.restore-popup-img{
	display: block;
	width: 90%;
	margin: 0 auto;
	background: url('../imgs/restore_mail.svg') no-repeat;
	background-position: 0% center;
	height: 4em;
}
.restore-back{
	text-transform: uppercase;
	color: #FFF;
	font-size: 1em;
	padding: 1em 1em 1em 2em;
	margin-top: 1em;
	cursor: pointer;
	background: url('../imgs/Back.svg') no-repeat;
	background-position: left center;
}
.restore-popup-title{
	font-size: 1.8em;
	width: 70%;
	font-weight: 600;
	margin-left: 5%;
	padding: 0.5em 0;
	color: #3b3848;
}
.restore-popup-text{
	color: #8A8A8F;
	width: 70%;
	margin-left: 5%;
	padding: 1em 0 3em 0;
}

.restore-popup-buttons-wrap{
	display: flex;
	flex-direction: row;
	width: 100%;
	border-top: solid 1px #C8C7CC;
	box-sizing: border-box;
}
.restore-popup-button{
	display: block;
	width: 50%;
	height: 5em;
	line-height: 5em;
	text-transform: uppercase;
	text-align: center;
	color: #7853A1;
	font-size: 0.8em;
	cursor: pointer;
}
.restore-popup-button:first-child{
	border-right: solid 1px #C8C7CC;
}




.terms-wrap{
	font-size: 0.7em;
	line-height: 1em;
	padding: 1em 0 0 0 ;
	color: #CCB9D9;
}


.avatar-container input[type=file]{
			  font-size: 100px;
  				position: absolute;
  				left: 0;
  				top: 0;
  				opacity:0;
  				cursor: pointer;  			
		}
		


.avatar-text-wrap{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: auto;
	justify-content: center;
	color: #FFF;
	font-size: 0.8em;
}

.terms-link{
	color: #FFF;
}
.avatar-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	padding-top: 2em;

}
.avatar-left{
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	width: 100%;
	
}
.avatar-right{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: auto;
	color: #FFF;
	justify-content: center;

	padding-top: 1em;
	
	
	
	
}

.avatar-view{
	display: flex;
	align-self: center;
	width: 7em;
	height: 7em;

	margin: 0 auto;

	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQuNjY2NyAxMC42NjY3QzE0LjY2NjcgMTEuMDIwMyAxNC41MjYyIDExLjM1OTQgMTQuMjc2MSAxMS42MDk1QzE0LjAyNjEgMTEuODU5NSAxMy42ODcgMTIgMTMuMzMzMyAxMkgxLjMzMzMzQzAuOTc5NzExIDEyIDAuNjQwNTczIDExLjg1OTUgMC4zOTA1MjQgMTEuNjA5NUMwLjE0MDQ3NiAxMS4zNTk0IDAgMTEuMDIwMyAwIDEwLjY2NjdWMy4zMzMzM0MwIDIuOTc5NzEgMC4xNDA0NzYgMi42NDA1NyAwLjM5MDUyNCAyLjM5MDUyQzAuNjQwNTczIDIuMTQwNDggMC45Nzk3MTEgMiAxLjMzMzMzIDJINEw1LjMzMzMzIDBIOS4zMzMzM0wxMC42NjY3IDJIMTMuMzMzM0MxMy42ODcgMiAxNC4wMjYxIDIuMTQwNDggMTQuMjc2MSAyLjM5MDUyQzE0LjUyNjIgMi42NDA1NyAxNC42NjY3IDIuOTc5NzEgMTQuNjY2NyAzLjMzMzMzVjEwLjY2NjdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjY2Njc0OCAxLjMzMzAxKSIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJNNS4zMzMzMyAyLjY2NjY3QzUuMzMzMzMgNC4xMzk0MyA0LjEzOTQzIDUuMzMzMzMgMi42NjY2NyA1LjMzMzMzQzEuMTkzOTEgNS4zMzMzMyAwIDQuMTM5NDMgMCAyLjY2NjY3QzAgMS4xOTM5MSAxLjE5MzkxIDAgMi42NjY2NyAwQzQuMTM5NDMgMCA1LjMzMzMzIDEuMTkzOTEgNS4zMzMzMyAyLjY2NjY3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNS4zMzMyNSA1LjMzMzAxKSIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.2em;
	cursor: pointer;
	border-radius: 50%;
	border:dashed 1px #FFF;
	position: relative;
	overflow: hidden;
}
.avatar-view-wrap{
	width: 60%;
}
.button-wrap{
	width: 60%;
}

.avatar-text-bold{
	display: block;
	font-weight: 600;
	padding-bottom: 1em;
	
}
.avatar-text-regular{
	display: block;
	
}
.button-upload{
	
	background: #FFF;
	width: 100%;
	color: #7853A1;
	border-radius: 3em;
	padding: 1.4em 0;
	font-size: 0.7em;
	cursor: pointer;
	margin-right: auto;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.margtop{
	
	
	margin-left: auto;

	position: relative;
	top: 0em !important;
	text-align: right;
	margin-right: 1.2em;
	font-size: 0.8em !important;


}
.line-hd{
	width: 100%;
	color: #fff;
	padding: 1em 0;
	
	display: flex;
	flex-direction: row;
}
.line-text{
	text-transform: uppercase;
	width: 20%;
	font-size: 0.8em;
	text-align: center;
}
.line-body{
	border-bottom: solid 1px rgba(255,255,255,0.3);
	display: inline-block;
	height: 1em;
	width: 40%;
	position: relative;
	top: -0.5em;
}

.facebook-button{
	color: #fff;
	font-size: 1.2em;
	box-sizing: border-box;
	cursor: pointer;
	
	padding: 0.8em 0 0.8em 3em;


	background-image: url('../imgs/Facebook.svg');
	background-repeat:  no-repeat;
	border-radius: 0.3em;
	background-position: 1em center;
}
.facebook-button:hover{
	background-color: rgba(255,255,255,0.2);
}
.facebook-button:active{
	background-color: rgba(255,255,255,0.4);
}



.auth_wrapper{
	min-height: 100vh;
	height: auto;	
	box-shadow: inset -99px 0px 100px 0px rgba(166,114,184,0.7);
	background: linear-gradient(45deg, rgba(107,83,164,1) 0%,rgba(147,98,168,1) 100%),url('../imgs/background.svg') no-repeat;
	background-blend-mode: overlay;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items: stretch;

}

.wrapper{
	background: #fff;

}
/* AUTH */

/* AUTH HEADER */

.header{
	height: 8vh;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items: flex-end;
	
	
}
	.logotype_link{
		font-family: 'icomoon';
		color: #FFF;
		text-decoration: none;
		font-size: 1.1em;
		margin-left: 8%;

	}
	.logotype_link img{
		vertical-align: bottom;
		width: 1.8em;	
	}


	/* LANG SETTER*/


	.lang-button{
		margin-left: auto;
		margin-right: 7%;
		position: relative;
		top: 14%;
		border: solid 1px #D6CBE7;
		border-radius: 20px;
		width: 4em;
		height: 2em;
		cursor: pointer;
		overflow: hidden;
	}
	.lang-button:hover{
		border-color: #FFF;
		overflow: visible;

	}
	.lang-button--content{
		height: 2em;
		line-height: 2em;
		text-align: center;		
		color: #D6CBE7;
	}
	.lang-button--content:hover{
		color: #FFF;
		
	}
	.lang-button--content:hover::after{
		border-top: 4px solid #FFF;
	}

	.lang-button--content::after {
    	content: ''; 
    	position: relative;
    	left: 4px; bottom: -13px;
    	border: 4px solid transparent; 
    	border-top: 4px solid #D6CBE7; 
    }
    .lang-dropdown{      	
    	width: 6em; 	
    	position: relative;
    	right: 50%;	
    	z-index: 100;
    	padding-top: 0.5em;

    }
    .lang-dropdown:before{
    	display: block;
    	width: 100%;
    	height: 1em;
    	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBzdHlsZT0iaXNvbGF0aW9uOmlzb2xhdGUiIHZpZXdCb3g9IjAgMCA0MCA5IiBoZWlnaHQ9IjEwMCUiPjxwYXRoIGQ9IiBNIDAgOSBMIDEwLjk4OSA5IEMgMTAuOTg5IDkgMTAuOTg5IDkgMTAuOTg5IDkgQyAxNS45OTEgOSAyMC42MTIgNi4zMzIgMjMuMTEzIDIgTCAyMy40MDIgMS41IEMgMjMuNDAyIDEuNSAyMy40MDIgMS41IDIzLjQwMiAxLjUgQyAyNC41NTcgLTAuNSAyNy40NDMgLTAuNSAyOC41OTggMS41IEMgMjguNTk4IDEuNSAyOC41OTggMS41IDI4LjU5OCAxLjUgTCAyOS4zOTIgMi44NzYgQyAzMS41OCA2LjY2NSAzNS42MjQgOSA0MCA5IEwgMTAuOTg5IDkgTCAwIDkgWiAiIGZpbGw9IiNGRkYiLz48L3N2Zz4=) right bottom no-repeat;
    	background-size: 55%;
    	background-position: 70% 100%;
    	content: '';
    }
    .lang-dropdown--items{
    	display: block;
    	padding: 1em 0;
    	background: #fff;
    	width: 100%;    	
    	border-radius: 0.4em;
    	box-shadow: 0px 10px 24px rgba(155, 81, 224, 0.2);

    }
    .lang-dropdown--item:last-child{
    	border-bottom:none;
    }
    .lang-dropdown--item:hover{
    	opacity: 1;
    }

    .lang-dropdown--item{
    	opacity: 0.8;
    	display: block;
    	padding: 0.5em 0;		
    	width: 65%;
    	margin: 0 auto;
    	border-bottom:  solid 2px #e6e6e6;
    }

/* /END AUTH HEADER */


/* AUTH MAIN */

.auth_main{
	padding-top: 6vh;
	width: 92%;
	margin-left: 8%;
	min-height: 86vh;
	height: auto;

	background: url('../imgs/lQl3RHa.png') no-repeat;
	background-size: contain;
	background-position: 90% 50%;

	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:stretch;
}
	/* AUTH FORMS WRAPPER */
	.auth_forms{
		width: 25%;

	}

	.auth_h1{
	color: #FFF;	
	padding-bottom:8vh;
	font-size: 3.6em;
	line-height: 105%;
	width: 100%;	
	font-weight: 600;
	
	
	}


html[lang=ru-RU] .auth_h1{
	font-size: 2.4em;
}
html[lang=ru-RU] .auth-h1--redline{
	font-size: 1.4em;
	padding-top: 0.2em;
}


	.auth-h1--redline{
		display: block;
		text-align: right;
		

	}
	.auth-links--wrapper{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-start;

	}

	.auth-links{
		color: rgba(255,255,255,0.4);
		font-size: 0.875em;
		text-decoration: none;
		text-transform: uppercase;

	}
	.auth-links--right{
		padding-left: 2em;
		margin-left: 2em;
		border-left: solid 1px rgba(255,255,255,0.4);
	}
	.auth-links--wrapper .router-link-active{
		color: rgba(255,255,255,1);
	}

	/* /END AUTH FORMS WRAPPER */

/* AUTH FORMS */

.form{
	padding-top: 3vh;
	padding-bottom: 2em;
}

	.custom-input{
		border: solid 1px;
		border-color: rgba(255,255,255,0);
		border-radius: 0.25em;
		box-sizing: border-box;
		padding: 0.5em;
		width: 100%;	
		margin-bottom: 0.8em;
		background: rgba(255, 255, 255, 0.1);
		

	}

	.form-label{
		font-family: 'SF Pro Text', sans-serif;	
		font-size: 0.7em;	
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		display: block;		

	}
	.form-input{
		border: none;
		background: none;
		color: #fff;
		font-size: 1em;
		width: 100%;
		padding: 0.1em;
		box-sizing: border-box;
		display: inline;
	}

	/* ERRORS INPUTS */
	.input-iserror{
		border-color: #f86173;
	}
	.input-issucces{
		border-color: #06D458;
	}
	.validate-error{
		color: #f86173;
		font-size: 0.8em;
		display: block;
		padding-bottom: 1em;
	}
	.input-preload{
		background:  url('../imgs/preload.svg') no-repeat center right, rgba(255, 255, 255,0.1);
		background-position: 97%;
		background-size: 10% ;

		
	}
	/* INPUT PASSWORD */
	.m--custom-input--password{
		display: flex;
		flex-direction:row;
		
		align-items: stretch;
			
	}
	
	.input-password--wrapper{
		width: 100%;
			
			
	}
	.button-showpassword{
		background: rgba(255, 255, 255, 0.1);
		color: #FFF;
		font-family: 'icomoon';
		speak: none;
	  	border-radius: 4px;
	  	align-self: center;	
	  	padding: 0.3em;
	  	cursor: pointer;
		font-size: 1.2em;
		line-height: 100%;
		text-align: center;
	}

	/* INPUT BIRTHDATE */
	.m--custom-input--birthdate{
		flex-basis:45%;
		margin-bottom: 0;

	}
	.m--birthdate-and-sex--wrapper{
		margin-bottom: 0.8em;
		display: flex;
		align-items:stretch;
		flex-wrap:nowrap;	
		flex-direction:row;
	}
	/* INPUT SEX */
	.m--sex--wrapper{
		display: flex;	
		flex-direction:row;
		flex-wrap:nowrap;		
		flex-basis: 55%;
		justify-content: center;
		align-items: center;
	}

	.input-sex{
		font-family: 'icomoon';
		color: #fff;
		text-decoration: none;
		font-size: 1.3em;		
		text-align: center;
		cursor: pointer;
		padding: 0.7em 0;
		flex-basis: 50%;
		margin-left: 0.6em;
		box-sizing: border-box;
		border: solid 1px;
		border-color: rgba(255,255,255,0);
		border-radius: 4px;
		background: rgba(255, 255, 255, 0.1);
	}

	.input-sex-selected{
		border-color: rgba(255,255,255,1);
	}

	/* FORM LINKS */
	.form-links{
		font-family: 'SF Pro Text', sans-serif;
		line-height: 100%;
		font-size: 0.8em;			
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #F6D580;
		position: relative;
		top: -0.8em;
		cursor: pointer;
	}

	/* FORM SUBMIT BUTTON */
	.form-submit-button{
		background: #FFFFFF;
		box-shadow: 0px 10px 24px rgba(155, 81, 224, 0.2);
		border-radius: 100px;
		border: none;
		width: 100%;
		line-height: 4em;
		cursor: pointer;
		margin-top: 10px;
		font-family: 'SF Pro Text', sans-serif;
		font-size: 0.8em;
		text-align: center;
		color: #7853A1;
		text-transform: uppercase;

	}
	.form-submit-button:hover{
		background: #FFFFFF;
		box-shadow: 0px 10px 24px rgba(56, 25, 85, 0.3);
	}
	.form-submit-button:active{
		background: #9D75B6;
		color: #FFFFFF;
		box-shadow: none;

	}


			


@media screen and (max-width: 450px){  


	.header{
		height: 15vh;
		flex-wrap:nowrap;	

	}

	.logotype_link{				
		margin-left: 5%;
		overflow: hidden;
		white-space: nowrap;
		width: 1.9em;
	}
	.logotype_link img{
		
		width: 1.9em;
	}

	.auth_main{
		padding-top: 3em;
		width: 100%;
		margin-left: 0;
		min-height: 79vh;
		background: none;		
	}

	.auth_forms{
		width: 90%;
		margin: 0 auto;
	}



	.auth_h1{
		display: none;	
	}

	.auth-links--wrapper{
		height: 10%;
		justify-content: space-between;

	}
.restore-titles .auth_h1{
		display: block;
		font-size: 2.5em;
		padding-bottom: 0;
	}
	.restore-titles .auth-links--wrapper{
		display: none;
	}


	.auth-links{
		font-size: 1.6em;
		text-transform: unset;
		text-decoration: none;
		order: 2;


	}
	.auth-links--right{
		padding-left: 0;
		margin-left: 0;
		border-left: 0px;


	}
	.auth-links--wrapper .router-link-active{
		font-weight: 600;
		font-size: 2em;
		order: 1;

		/* visual baseline */
		position: relative;
		top: 0.1em;
	}

	.form{
		padding-top: 2em;
	

	}



}








/* ADAPTIVE MOBILE after 812px (IphoneX)*/

@media screen and (min-width: 451px) and (max-width: 812px){  


	.header{
		height: 15vh;
		flex-wrap:nowrap;	

	}

	.logotype_link{				
		margin-left: 5%;
		overflow: hidden;
		white-space: nowrap;
		width: 1.9em;
	}
	.logotype_link img{
		
		width: 1.9em;
	}

	.auth_main{
		padding-top: 3em;
		width: 100%;
		margin-left: 0;
		min-height: 79vh;
		background: none;		
	}

	.auth_forms{
		width: 90%;
		margin: 0 auto;
	}
	.auth_h1{
		display: none;	
	}

	.auth-links--wrapper{
		height: 10%;
		justify-content: space-between;

	}

	.auth-links{
		font-size: 1.6em;
		text-transform: unset;
		text-decoration: none;
		order: 2;


	}
	.auth-links--right{
		padding-left: 0;
		margin-left: 0;
		border-left: 0px;


	}
	.auth-links--wrapper .router-link-active{
		font-weight: 600;
		font-size: 2.5em;
		order: 1;

		/* visual baseline */
		position: relative;
		top: 0.1em;
	}

	.form{
		padding-top: 2em;
	

	}

	.restore-titles .auth_h1{
		display: block;
		font-size: 2.5em;
		padding-bottom: 0;
		width: 100%;
	}
	.restore-titles .auth-links--wrapper{
		display: none;
	}
	.restore-titles .auth-h1--redline{
		display: inline-block;
		text-align: right;
		}

	


}

@media screen and (min-width: 813px) and (max-width: 1025px){  
	.avatar-container{
	
	padding-top: 0em;

}

	.header{
		height: 10vh;
		width: 50%;
		margin: 0 auto;
	}

	
	.logotype_link{				
		margin-left: 0;
		overflow: hidden;
		white-space: nowrap;
		width: 4em;
	}
	.logotype_link img{
		
		width: 4em;
		
	}



	.auth_main{
		padding-top: 3em;
		width: 50%;
		margin: 0 auto;
		min-height: 79vh;
		background: none;		
	}

	.auth_forms{
		width: 100%;
		margin: 0 auto;
	}
	.auth_h1{
		display: none;	
	}

	.auth-links--wrapper{
		height: 10%;
		justify-content: space-between;
		padding: 4em 0;

	}

	.auth-links{
		font-size: 1.6em;
		text-transform: unset;
		text-decoration: none;
		order: 2;



	}
	.auth-links--right{
		padding-left: 0;
		margin-left: 0;
		border-left: 0px;


	}
	.auth-links--wrapper .router-link-active{
		font-weight: 600;
		font-size: 2.5em;
		order: 1;

		/* visual baseline */
		position: relative;
		top: 0.1em;
	}

	.form{
		padding-top: 2em;
	

	}

	.restore-titles .auth_h1{
		display: block;
		font-size: 2.5em;
		padding-bottom: 0;
	}
	.restore-titles .auth-links--wrapper{
		display: none;
	}
}
@media screen and (min-width: 1026px) and (max-width: 1365px){  
	.auth_main{
		padding-top: 6vh;
		width: 90%;
		margin-left:10%;
		background: url('../imgs/lQl3RHa.png') no-repeat;
		background-size: 60%;
		background-position: 90% 50%;

	}

	.auth_forms{
		width:35%;

	}

}


@media screen and (min-width: 1920px) and (max-width: 2000px){  
	.header{
		height: 10vh;
	
	}
	.auth_main{
		padding-top: 8vh;
		width: 80%;
		margin:0 auto;
		min-height: 70vh;

		background: url('../imgs/lQl3RHa.png') no-repeat;
		background-size: 70%;
		background-position: 90% 70%;

	}
	.logotype_link{
		
		
		font-size: 2em;
		margin-left: 10%;

	}

	.auth_forms{
		width:25%;

	}


}
@media screen and (min-width: 2001px){ 
		.header{
		height: 10vh;
		width: 1920px; 
		margin: 0 auto;
		}
		.logotype_link{
		
		
		font-size: 2em;
		margin-left: 0;

		}
		.auth_main{
			width: 1920px;
			height: 700px;
			margin: 0 auto;
		}
}

@media screen and (min-height: 770px){  
		.auth_main{		

		
		background-size: 60%;
		background-position: top right;

		}

}
@media screen and (min-height: 1900px){  
		.auth_main{		

		
		background-size: 80%;
		background-position: 200% 10%;

		}


}