
@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SanFranciscoText-RegularItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFranciscoText-RegularItalic.otf')  format('opentype'),
	     url('../fonts/SanFranciscoText-RegularItalic.woff') format('woff'), url('../fonts/SanFranciscoText-RegularItalic.ttf')  format('truetype'), url('../fonts/SanFranciscoText-RegularItalic.svg#SanFranciscoText-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/-HelveticaNeueDeskInterface-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/-HelveticaNeueDeskInterface-Regular.woff') format('woff'), url('../fonts/-HelveticaNeueDeskInterface-Regular.ttf')  format('truetype'), url('../fonts/-HelveticaNeueDeskInterface-Regular.svg#.HelveticaNeueDeskInterface-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SanFranciscoText-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFranciscoText-Bold.otf')  format('opentype'),
	     url('../fonts/SanFranciscoText-Bold.woff') format('woff'), url('../fonts/SanFranciscoText-Bold.ttf')  format('truetype'), url('../fonts/SanFranciscoText-Bold.svg#SanFranciscoText-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Bold.otf')  format('opentype'),
	     url('../fonts/SFProDisplay-Bold.woff') format('woff'), url('../fonts/SFProDisplay-Bold.ttf')  format('truetype'), url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Regular.otf')  format('opentype'),
	     url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf')  format('truetype'), url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-RegularItalic.otf')  format('opentype'),
	     url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'), url('../fonts/SFProDisplay-RegularItalic.ttf')  format('truetype'), url('../fonts/SFProDisplay-RegularItalic.svg#SFProDisplay-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Semibold.otf')  format('opentype'),
	     url('../fonts/SFProDisplay-Semibold.woff') format('woff'), url('../fonts/SFProDisplay-Semibold.ttf')  format('truetype'), url('../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}




@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r6gc35');
  src:  url('../fonts/icomoon.eot?r6gc35#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r6gc35') format('truetype'),
    url('../fonts/icomoon.woff?r6gc35') format('woff'),
    url('../fonts/icomoon.svg?r6gc35#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.zaglushka{
	display: block;
	width: 100%;
	background:  url('../imgs/preload.svg') center center no-repeat;
	height: 4em;
	text-align: center;
	color: #fff;

}
/* CSS RESET */
::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder {color:#fff;}
::-ms-placeholder {color:#fff;}
::placeholder {color:#fff;}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	min-height: 100%;
	height: auto !important;
	}
body {
	line-height: 1;
	display: block;
	height: auto !important;
	min-height: 100%;
	font-size: 16px;
	font-family: 'SF Pro Display', sans-serif;
}