@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r6gc35');
  src:  url('../fonts/icomoon.eot?r6gc35#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r6gc35') format('truetype'),
    url('../fonts/icomoon.woff?r6gc35') format('woff'),
    url('../fonts/icomoon.svg?r6gc35#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


:focus {outline:none;}
::-moz-focus-inner {border:0;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{

	height: 100%;
}
body {
	line-height: 1;
	display: block;
	height: 100%;
	font-size: 16px;


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper{
	min-height: 100vh;

	height: auto;
	
	
	background: linear-gradient(0deg, rgba(98, 83, 184, 0.8) -0.3%, rgba(237, 128, 194, 0.8) 173.29%), url('../imgs/background.svg') no-repeat;
	background-blend-mode: overlay;
	
	
}


	#top-panel{
		display: block;
		width: 100%;
		padding-top: 3em;
	}


#logotype{
	 font-family: 'icomoon';
	 color: #fff;
	 text-decoration: none;
	 font-size: 18px;
		margin-left: 10%;
	 display: inline-block;

}
#logotype img{
	width: 30px;
	height: 18px;
	

}


#main{
	display: block;
	width: 90%;
	margin-left: 10%;
	padding-top: 2em;
	background: url('../imgs/lQl3RHa.png') no-repeat;
	background-size: contain;
	background-position: 80% 50%;
	min-height: 500px;
	height: auto;

}
#main h1{
	color: #fff;
	font-family: 'SF Pro Display', sans-serif;
	line-height: 60px;
	font-size: 50px;
	letter-spacing: 0.0121429em;
	font-weight: 600;
	padding-bottom: 1em;
}
	.redline{
		display: block;
		margin-left: 2em;
	}

	.fv-link-left{
		font-family: 'SF Pro Display', sans-serif;
		line-height: 34px;
		font-size: 14px;
	
		text-decoration: none;
		padding-right: 2em;
		border-right: solid 1px rgba(255,255,255,0.4);
		color: rgba(255,255,255,0.4);
	}
	.fv-link-rigth{
		font-family: 'SF Pro Display', sans-serif;
		line-height: 34px;
		font-size: 14px;
	
		text-decoration: none;
		padding-left: 1.5em;
		color: rgba(255,255,255,0.4);
		
	}
	.router-link-active{
		color: rgba(255,255,255,1);
	}


.form{
	display: block;
	width: 27%;

	
}
/*

.input-wrapper{
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 15px;
}
.form-label{
	font-family: 'SF Pro Text', sans-serif;
	line-height: 14px;
	font-size: 10px;
	letter-spacing: -0.00615385em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	display: block;


}
.form-input{
	border: none;
	background: none;
	padding: none;
	
	width: 100%;

	font-family: 'SF Pro Display', sans-serif;
	
	font-size: 16px;
	letter-spacing: 0.0121429em;

	color: #FFFFFF;


}
*/
.custom-input{
	border: solid 1px;
	border-color: rgba(255,255,255,0);
	border-radius: 4px;

	box-sizing: border-box;

	width: 100%;
	font-family: 'SF Pro Display', sans-serif;
	

	padding: 10px;
	
	background: rgba(255, 255, 255, 0.1);
	margin-bottom: 10px;


}

.flex-wrapper{
	display: flex;
	align-items:stretch;
	flex-direction:row;
	
}
.sex-wrapper{
		display: flex;
	
	flex-direction:row;
	flex-wrap:nowrap;
	height: 55px;
	
	flex-basis: 55%;
}
.sex-checkbox{
	 font-family: 'icomoon';
	 color: #fff;
	 text-decoration: none;
	 font-size: 20px;
	 display: block;
	 text-align: center;
	cursor: pointer;
	line-height: 55px;
	
	flex-basis:50%;
	margin-left: 10px;
	box-sizing: border-box;
	border: solid 1px;
	border-color: rgba(255,255,255,0);

	border-radius: 4px;
	background: rgba(255, 255, 255, 0.1);
	

}
.sex-checkbox:hover{
	border-color: rgba(255,255,255,1);
}


.form-input{
	border: none;
	background: none;
	color: #fff;
	font-size: 16px;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	display: inline;
}
.m__birthdate{
	
	display: inline-block ;
	flex-basis:45%;

}

.form-label{
	font-family: 'SF Pro Text', sans-serif;

	
	font-size: 10px;
	
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;

	

}
.ci-password .form-label{
	display: inline-block;

	width: 85%;
	vertical-align: top;
}
.button-check_password{
	background: rgba(255, 255, 255, 0.1);
	display: inline-block;
	
	float: right;
	color: #FFF;
	font-family: 'icomoon';
	speak: none;
  	border-radius: 4px;
  	padding: 10px;
  	position: relative;
  	top: -4px;
  	right: -4px;
  	cursor: pointer;
	font-size: 20px;

	text-align: center;
	

}
.button-check_password:hover{
	background: rgba(255, 255, 255, 0.2);
}

.form-submit{
	background: #FFFFFF;
	box-shadow: 0px 10px 24px rgba(155, 81, 224, 0.2);
	border-radius: 100px;
	border: none;
	width: 100%;
	line-height: 50px;
	cursor: pointer;
	margin-top: 10px;

	font-family: 'SF Pro Text', sans-serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: -0.00615385em;

	color: #7853A1;
	}
.form-submit:hover {
	background: #FFFFFF;
	box-shadow: 0px 10px 24px rgba(56, 25, 85, 0.3);

	}
.form-submit:active {
	background: #9D75B6;
	color: #FFFFFF;
	box-shadow: none;
	}


/* SINGUP SPECIAL */
.back_to_singin{
	font-family: 'SF Pro Text', sans-serif;
	line-height: 14px;
	font-size: 12px;
	
	text-decoration-line: underline;
	text-transform: uppercase;

	color: #F6D580;
}

.validate-error{
	color: #F86173;
	font-size: 14px;
	display: block;
	padding-bottom: 10px;
}
.is_error{
	border-color: #F86173;
	
}
.is_succes{
	border-color: #06D458;
}